<head>
    <meta charset="utf-8">
    <title>Pomodoro Clock</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <section id="app">
        <div class="main-body">
                <h2>{{ title }}</h2>
            
                <div id="timer">
                    <span id="minutes">{{ minutes }}</span>
                    <span id="middle">:</span>
                    <span id="seconds">{{ seconds }}</span>
                </div>

                <div id="buttons">
                    <button 
                        id="start"
                        v-if="!timer"
                        v-on:click="startTimer">
                            <i class="far fa-play-circle"></i>
                    </button>

                    <button 
                        id="stop" 
                        class="button is-dark is-large" 
                        v-if="timer"
                        @click="stopTimer">
                            <i class="far fa-pause-circle"></i>
                    </button>
                    
                    <button 
                        id="reset" 
                        class="button is-dark is-large" 
                        v-if="resetButton"
                        @click="resetTimer">
                            <i class="fas fa-undo"></i>
                    </button>

                </div>
            </div>
        </div>
    </section>
<script src="app.js"></script>
</body>
